.main-signup
  .header
    = render 'products/login-header'
  .main
    .main__header 新規会員登録
    .main__content
      .main__content__line
        = link_to "/signup/second", class: "main__content__line__btn main__content__line__btn--mail" do
          = icon('far', 'envelope', class: "main__content__line__btn--mail")
          メールアドレスで登録する
        = link_to "https://www.facebook.com/", class: "main__content__line__btn main__content__line__btn--facebook" do
          = icon('fab', 'facebook-square', class: "main__content__line__btn--facebook")
          Facebookで登録する
        = link_to "https://www.google.com/", class: "main__content__line__btn main__content__line__btn--google" do
          = icon('fab', 'google', class: "main__content__line__btn--icon")
          Googleで登録する
  .footer
    = render 'products/login-footer'