= render 'products/top-header'
= render 'users/section/mypage-header'
.main
  = render 'users/section/mypage-list'
  .main__right
    .signup-view-1page
      %section.signup-view-block
        %h2.signup-view-block__explanation 
          支払い方法
        = form_for '', url: '' do |f|
          .signup-view-block__form--top
            .signup-form1
              %label.signup-form1__label
                カード番号
              %span.signup-form1__span
                必須
              = f.text_field :credit, placeholder: '例) 半角数字のみ', class: 'signup-form1__form'
            .signup-form1
            .signup-form4
              .signup-form4-block
                %label.signup-form1__label
                  有効期限
                %span.signup-form1__span
                  必須
              .signup-form4__form
                != sprintf(f.date_select(:credit, order:[:month,:year,:day], use_month_numbers:true, discard_day:true, start_year:Time.now.year-2000, end_year:Time.now.year-2000+10, date_separator:'%s'),'月') + '年'
              .signup-form4__form
            .signup-form1
              %label.signup-form1__label
                セキュリティコード
              %span.signup-form1__span
                必須
              = f.text_field :credit, placeholder: '例) カード背面4桁もしくは3桁の番号', class: 'signup-form1__form'
            .signup-credit-form-label
              %span.credit-form-question 
              = link_to( "カード裏面の番号とは？", "/", class: "credit-form-text")
            .signup-next-submit
              = f.submit '次へ進む'
            .mail-pass-white-tab

= render  'users/section/exhibit-button'
= render 'products/top-footer'