= render 'products/top-header'
- breadcrumb :user_credit_edit
= render 'layouts/breadcrumbs'

.main
  = render  'users/section/mypage-list'
  .main__right
    = render  'users/section/logout'

= render 'products/top-footer'
