= render 'products/top-header'
= render 'users/section/mypage-header'
.main
  = render partial: 'users/section/mypage-list'
  .main__right
    = render partial: 'users/section/mypage-right'

= render 'products/top-footer'
