.main-signin
  .header 
    = render 'products/login-header'
  .main
    .main__login
      .main__login__account
        %p
          アカウントをお持ちでない方はこちら
        =link_to "/signup/first" do
          新規会員登録
      .main__login__inner
        = link_to "#", class: "main__login__inner__btn main__login__inner__btn--facebook" do
          = icon('fab', 'facebook-square',class:'icon')
          Facebookでログイン
        = link_to "#", class: "main__login__inner__btn main__login__inner__btn--google" do
          = icon('fab', 'google',class:'icon')
          Googleでログイン
      .main__login__bottom
        = form_for @user, url: "sign_in" do |f|
          = f.email_field :email, placeholder:'メールアドレス',class: 'main__login__bottom__form'
          = f.password_field :password, placeholder:'パスワード',class: 'main__login__bottom__form'
          .main__login__bottom__robot
            Googleのロボット
          .main__login__bottom__login
            = f.submit "ログイン", class: "main__login__bottom__login" 
        .main__login__bottom__passwordforgot
          = link_to "#", class: "main__login__bottom__passwordforgot" do
            パスワードお忘れの方
  .footer
    = render 'products/login-footer'