.main__left
  .main__left-list
    =link_to '#', class: "main__left-list__nav btn box-1" do
      マイページ
      .select-icon-box
        =fa_icon 'angle-right', class: 'select-icon i1'
  .main__left-list
    =link_to "#", class: "main__left-list__nav btn box-2" do
      お知らせ
      .select-icon-box
        = fa_icon 'angle-right', class: 'select-icon i2'
  .main__left-list
    =link_to "#", class: "main__left-list__nav btn box-3" do
      やることリスト
      .select-icon-box
        = fa_icon 'angle-right', class: 'select-icon i3'
  .main__left-list
    =link_to "#", class: "main__left-list__nav btn box-4" do
      いいね！一覧
      .select-icon-box
        = fa_icon 'angle-right', class: 'select-icon i4'
  .main__left-list
    =link_to '#', class: "main__left-list__nav btn box-5" do
      出品する
      .select-icon-box
        = fa_icon 'angle-right', class: 'select-icon i5'
  .main__left-list
    =link_to '#', class: "main__left-list__nav btn box-6" do
      出品した商品 - 出品中
      .select-icon-box
        = fa_icon 'angle-right', class: 'select-icon i6'
  .main__left-list
    =link_to '#', class: "main__left-list__nav btn box-7" do
      出品した商品 - 取引中
      .select-icon-box
        = fa_icon 'angle-right', class: 'select-icon i7'
  .main__left-list
    =link_to '#', class: "main__left-list__nav btn box-8" do
      出品した商品 - 売却済み
      .select-icon-box
        = fa_icon 'angle-right', class: 'select-icon i8'
  .main__left-list
    =link_to "#", class: "main__left-list__nav btn box-9" do
      購入した商品 - 取引中
      .select-icon-box
        = fa_icon 'angle-right', class: 'select-icon i9'
  .main__left-list
    =link_to "#", class: "main__left-list__nav btn box-10" do
      購入した商品 - 過去の取引
      .select-icon-box
        = fa_icon 'angle-right', class: 'select-icon i10'
  .main__left-list
    =link_to "#", class: "main__left-list__nav btn box-11" do
      ニュース一覧
      .select-icon-box
        = fa_icon 'angle-right', class: 'select-icon i11'
  .main__left-list
    =link_to "#", class: "main__left-list__nav btn box-12" do
      評価一覧
      .select-icon-box
        = fa_icon 'angle-right', class: 'select-icon i12'
  .main__left-list
    =link_to "#", class: "main__left-list__nav btn box-13" do
      ガイド
      .select-icon-box
        = fa_icon 'angle-right', class: 'select-icon i13'
  .main__left-list
    =link_to "#", class: "main__left-list__nav btn box-14" do
      お問い合わせ
      .select-icon-box
        = fa_icon 'angle-right', class: 'select-icon i14'
  %h1.merupay
    メルペイ
  .main__left-list
    =link_to "#", class: "main__left-list__nav btn box-15" do
      売上・振込申請
      .select-icon-box
        = fa_icon 'angle-right', class: 'select-icon i15'
  .main__left-list
    =link_to "#", class: "main__left-list__nav btn box-16" do
      ポイント
      .select-icon-box
        = fa_icon 'angle-right', class: 'select-icon i16'
  %h2.setting
    設定
  .main__left-list
    =link_to '#', class: "main__left-list__nav btn box-17" do
      プロフィール
      .select-icon-box
        = fa_icon 'angle-right', class: 'select-icon i17'
  .main__left-list
    =link_to '#', class: "main__left-list__nav btn box-18" do
      発送元・お届け先住所変更
      .select-icon-box
        = fa_icon 'angle-right', class: 'select-icon i18'
  .main__left-list
    =link_to '#', class: "main__left-list__nav btn box-19" do
      支払い方法
      .select-icon-box
        = fa_icon 'angle-right', class: 'select-icon i19'
  .main__left-list
    =link_to '#', class: "main__left-list__nav btn box-20" do
      メール/パスワード
      .select-icon-box
        = fa_icon 'angle-right', class: 'select-icon i20'
  .main__left-list
    =link_to '#', class: "main__left-list__nav btn box-21" do
      本人情報
      .select-icon-box
        = fa_icon 'angle-right', class: 'select-icon i21'
  .main__left-list
    =link_to '#', class: "main__left-list__nav btn box-22" do
      電話番号の確認
      .select-icon-box
        = fa_icon 'angle-right', class: 'select-icon i22'
  .main__left-list
    =link_to '#', class: "main__left-list__nav btn box-23" do
      ログアウト
      .select-icon-box
        = fa_icon 'angle-right', class: 'select-icon i23'