.content
  = form_for @product do |f|
    .upload-content
      .sell-input-name
        %label
          出品画像
        %span
          必須
      .description
        最大10枚までアップロードできます
      .upload-box
        %label.upload-box__sentence
          = f.fields_for :images do |image|
            .upload-box__sentence__photo-image
              = icon('fa', 'camera')
            .upload-box__sentence__sentence-text
              ドラッグアンドドロップ
              %br
                またはクリックしてファイルをアップロード
              %input{type: "file"}

    .product-content
      .product-name
        .sell-input-name
          %label
            商品名
          %span
            必須
        = f.text_field :name, class: "product-name__product-name-input", placeholder: "40文字まで", maxlength: "40"
      .product-description
        .sell-input-name
          %label
            商品の説明
          %span
            必須
        = f.text_area :description, class: "product-description__text-box", placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。".html_safe, maxlength: "1000"
        .product-description__text-counter
          0/1000

    .details-content
      %h3
        商品の詳細
      .category-box
        .sell-input-name
          %label
            カテゴリー
          %span
            必須
        %select{name: "category_id", class: "category-box__select-category"}
          %option{value: "", selected: "selected"} ---
          %option{value: "選択肢1"} レディース
          %option{value: "選択肢2"} メンズ
          %option{value: "選択肢3"} ベビー・キッズ
      .brand-box
        .sell-input-name
          %label
            ブランド
          %span.any
            任意
        = f.text_field :brand, class: "brand-box__brand-input-box", placeholder: "例) シャネル"
      .condition-box
        .area-box
          .sell-input-name
            %label
              商品の状態
            %span
              必須
          = f.collection_select :condition, Condition.all, :id, :name, prompt: "選択してください"

    .delivery-content
      %h3
        配送について
      .delivery_fee-box
        .sell-input-name
          %label
            配送料の負担
          %span
            必須
        = f.collection_select :delivery_fee, DeliveryFee.all, :id, :name, prompt: "選択してください"
      .delivery_area-box
        .sell-input-name
          %label
            発送元の地域
          %span
            必須
        = f.collection_select :delivery_area, Prefecture.all, :id, :name, prompt: "選択してください"

      .delivery_day-box
        .sell-input-name
          %label
            発送元の日数
          %span
            必須
        = f.collection_select :delivery_day, DeliveryDay.all, :id, :name, prompt: "選択してください"

    .content-bottom
      %h3
        価格(300〜9,999,999)
      .price-box
        .price-box__first
          .sell-input-name
            %label
              販売価格
            %span
              必須
          .price-box__first__mark
            ¥
          = f.text_field :price, class: "price-box__first__money", placeholder: "0"
        .price-box__second
          .price-box__second__second-left 販売手数料 (10%)
          .price-box__second__second-right —
        .price-box__third
          .price-box__third__third-left 販売利益
          .price-box__third__third-right —
      .sell-btn
        = f.submit "出品する", class: "sell-btn__sent"
        .sell-btn__back もどる 
      .notes
        禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。