=render 'products/top-header'
.top
  .top__main
    .top__main__content
      .top__main__content__subtitle
        人生を変えるフリマアプリ
      .top__main__content__text
        FURIMAは誰でもかんたんに出品・購入できる<br>
        フリマアプリです
      %ul.top__main__content__list
        %li.top__main__content__list__button
          = image_tag "logo/app-store.svg", width: "180px", alt: "app-store"
        %li.top__main__content__list__button
          = image_tag "logo/google-play.svg", width: "180px", alt: "google-play"


  .top__nav
    .top__nav__title
      FURIMAが選ばれる3つの理由
    %ul.top__nav__content
      %li.top__nav__content__list
        .top__nav__content__list__pic
          %span
            1
          = image_tag "pict/pict-reason-01.jpg", width: "306px"
        .top__nav__content__list__subtitle
          %span
            3分で
          すぐに出品
        .top__nav__content__list__text
          スマホで入力するだけで簡単に出品できる！
      %li.top__nav__content__list
        .top__nav__content__list__pic
          %span
            2
          = image_tag "pict/pict-reason-02.jpg", width: "306px"
        .top__nav__content__list__subtitle
          %span
            シンプル
          で使いやすい
        .top__nav__content__list__text
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.top__nav__content__list
        .top__nav__content__list__pic
          %span
            3
          = image_tag "pict/pict-reason-03.jpg", width: "306px"
        .top__nav__content__list__subtitle
          手数料
          %span
            業界最安
        .top__nav__content__list__text
          最大3%でお得に出品&購入！


  .top__apImage
    .top__apImage__inner
      .top__apImage__inner__subtitle
        会員数日本一位
      .top__apImage__inner__text
        FURIMAは、フリマアプリで最も人気。<br>
        出品・購入回数も業界最多です！<br>
        ほしかったあの商品に出会えるかもしれません。
      %ul.top__apImage__inner__list
        %li.top__apImage__inner__list__button
          = image_tag "logo/app-store.svg", width: "180px", alt: "app-store"
        %li.top__apImage__inner__list__button
          = image_tag "logo/google-play.svg", width: "180px", alt: "google-play"
  .top__service
    .top__service__title
      FURIMAの特徴
    %ul.top__service__content
      %li.top__service__content__list
        .top__service__content__list__pic
          = image_tag "icon/icon-01.png", width: "219px"
        .top__service__content__list__subtitle
          簡単に売り買いできる
        .top__service__content__list__text
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %li.top__service__content__list
        .top__service__content__list__pic
          = image_tag "icon/icon-03.png", width: "219px"
        .top__service__content__list__subtitle
          売上金は即日振込みに対応
        .top__service__content__list__text
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %li.top__service__content__list
        .top__service__content__list__pic
          = image_tag "icon/icon-04.png", width: "219px"
        .top__service__content__list__subtitle
          様々な支払いに対応
        .top__service__content__list__text
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。


  .top__category
    .top__category__title
      ピックアップカテゴリー
    .top__category__product-box
      .top__category__product-box__post
        新規投稿商品
      .top__category__product-box__lists
        - @products.each do |product|
          = link_to product_path(product.id) do
            .top__category__product-box__lists__list
              = image_tag "#{product.images.first.image}",class:"product-image"
              .top__category__product-box__lists__list__body
                .top__category__product-box__lists__list__body__name
                  = product.name
                %ul.top__category__product-box__lists__list__body__details
                  %li
                    = product.price
                    円
                  %li
                    = icon('fa', 'star')
                    0
                %p
                  (税込)
=render 'products/top-footer'
